/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Squee
   ========================================================================== */
html {
    /*  */
    font-size:16px;
  }

body {
	width:100%;
	min-height:1000px;
	margin:0;
	padding:0;
	
	background: #2e2e2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2e2e2e 0%, #171717 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#171717)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2e2e2e 0%,#171717 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2e2e2e 0%,#171717 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2e2e2e 0%,#171717 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2e2e2e 0%,#171717 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#171717',GradientType=0 ); /* IE6-9 */

}

header {
    /*  */
    width:100%;
    height:150px;
    margin-bottom:10px;
  }

#nav-container {
    /* container for the header and navigation */
   width: 100%;
   height: 110px;
   position: fixed;
   display: block;
   background: transparent url('img/nav-background.jpg') 0px 0px repeat-x;
   z-index:9999;
  }
 
#nav {
    /*  */
    max-width:940px;
    margin:0 auto;
  }

#nav ul.nav-links {
	width:100%;
	max-width:940px;
	height:40px;
	position:relative;
	float:left;
	margin-top:88px;
}

#nav ul.nav-links li {
    /*  */
    width:33%;
    max-width:180px;
    min-width:100px;
    position: relative;
    float:left;
    list-style: none;
    display: inline;
  }
  
#nav ul.nav-links li a {
    /*  */
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight: bold;
	color:#f1f1f1;
  }
  
#nav ul.nav-links li a:hover {
    /*  */
    color:#f662f8;
  }
  
  
#body-container {
    /*  */
    width:100%;
    max-width:940px;
    position:relative;
    margin:0 auto;
  }
  
/* Slider */

#flexi-container a:active,
#flexi-container-sub a:active,
.flexslider a:active,
.flexslider-sub a:active,
#flexi-container a:focus,
#flexi-container-sub a:focus,
.flexslider a:focus,
.flexslider-sub a:focus { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
    /*  */
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
.flexslider img,
.flexslider-sub img {
    /*  */
    outline: none;
    border: none;
  }
  
.flexslider,
.flexslider-sub {
	margin: 0;
	padding: 0;
	border:none;
}
 
.flexslider .slides > li,
.flexslider-sub .slides > li {
    /*  */
    display: none;
    -webkit-backface-visibility: hidden;
  }
  
.flexslider .slides img,
.flexslider-sub .slides img {
    /*  */
    width: 100%;
    display:block;
    
  }

.slides: after {
    /*  */
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }


#flexi-container {
    /*  */
	position:relative;
	float:left;
	width:100%
	max-width:940px;
	max-height:425px;
    z-index:100;
    border: #ffffff 2px solid;
    margin-left:20px;
   }
  
#flexi-container-sub {
    /*  */
    position:relative;
    width:920px;
    height:500px;
    z-index:-999;
    border: #ffffff 2px solid;
    margin:0 auto;
  }

.flexslider .slides, .flexslider-sub .slides { zoom: 1; }
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: none; width: 40px; height: 40px;-moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; background-color:#FFFFFF; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev, .flexslider-sub:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next, .flexslider-sub:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover, .flexslider-sub:hover .flex-next:hover, .flexslider-sub:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: Arial, Helvetica, sans-serif; font-size: 40px; display: inline-block; content: '<'; }
.flex-direction-nav a.flex-next:before  { content: '>'; } 


/* TOP 3 */

#top-3-container {
	width:99%;
	max-width:940px;
	max-height:220px;
	position:relative;
	float:left;
	margin-left:22px;
	margin-top:20px;
	display: block;
	background:transparent url('img/top3-background.jpg') 0px 0px no-repeat;
}

.top3-btn {
	width:100px;
	height:100px;
	position:relative;
	float:left;
	display:block;
	background: transparent url('img/top3-btn.png') 0px 0px no-repeat;
	margin-top:50px;
	margin-left:-40px;

}

.top-3-banner {
    /*  */
   	width:100%;
    max-width:240px;
    max-height:200px;
    position:relative;
    float:left;
    margin:20px 0px 20px 50px;
  }
  
  
.top-3-banner a {
    /*  */
   	width:100%;
    max-width:125px;
    max-height:125px;
    display:block;
    border:none;
    text-decoration:none;
  }
  
.top-3-banner a img {
    /*  */
   	width:100%;
   	min-width:30px;
    max-width:125px;
    max-height:125px;
    position:relative;
    margin-top:10px;
    display:block;
    
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    0px 2px 6px 0px rgba(0, 0, 0, 0.7);
	box-shadow:         0px 2px 6px 0px rgba(0, 0, 0, 0.7);
  }
  
.top-3-banner h3 {
    /*  */
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:14px;
    color:#aeaeae;
    width:100%;
    max-width:125px;
    text-align:center;
    margin-top:5px;
  }


.content-container {
	width:70%;
	max-width:600px;
	position:relative;
	float:left;
	margin-left:20px;
	margin-bottom:0px;
}

.content-container h2 {
    /*  */
   width:100%;
   	max-width:600px;
   	height:28px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
    color:#aeaeae;
    border-bottom: 1px solid #f662f8;
  }
  
.article-container {
    /*  */
    width:100%;
    max-width:600px;
    position:relative;
    float:left;
    display: block;
    padding:0px 10px 10px 0px;
    border-bottom: 1px solid #3b263b;
  }
  
.title-container {
    /*  */
    width:600px;
    height:30px;
    position:relative;
    float:left;
    margin-bottom:10px;
  }
  
.title-container h3 {
    /*  */
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#aeaeae;
  }
  
.title-container h4 {
    /*  */
    font-family:Arial, Helvetica, sans-serif;
    font-size:9px;
    color:#aeaeae;
    margin-top:-16px;
  }
  
.article-container a img {
    /*  */
    width:201px;
    height:157px;
    float:left;
    margin: 20px 20px 20px 0px;
  }
  
.article-container p {
    /*  */
    font-family:Arial, Helvetica, sans-serif;
    color:#aeaeae;
    font-size:15px;
    line-height: 21px;
    font-weight:normal;
    padding:0px 10px;
  }
  
  



  
/* BANNERS BOTTOM-RIGHT */

#banner-container {
    /*  */
    width:13%;
    min-width:270px;
    max-width:310px;
    margin-left:20px;
    position:relative;
    float:left;
    margin-top:42px;
    padding:20px;
    
    background: #444344; /* Old browsers */
	background: -moz-linear-gradient(top,  #444344 17%, #302e2f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,#444344), color-stop(100%,#302e2f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #444344 17%,#302e2f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #444344 17%,#302e2f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #444344 17%,#302e2f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #444344 17%,#302e2f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444344', endColorstr='#302e2f',GradientType=0 ); /* IE6-9 */
	
	outline: 1px solid #B442FF;


  }
  
#banner-container a img {
    /*  */
   width:250px;
   height:250px;
   border: 2px solid #3b263b;
   margin-bottom:20px;
   margin-left:8px;
   
   -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    0px 2px 6px 0px rgba(0, 0, 0, 0.7);
	box-shadow:         0px 2px 6px 0px rgba(0, 0, 0, 0.7);
  }
  
  
/* SINGLE ARTICLE PAGE */

#single-title-container {
    /*  */
   position:relative;
   width:100%;
   max-width:940px;
   height:30px;
   display: block;
   border-bottom: 1px solid #f662f8;
}
  
#single-title-container h2 {
    /*  */
   	width:70%;
   	position: relative;
   	float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:21px;
    font-weight: normal;
    text-align: left;
    color: #aeaeae;
    margin:0;
  }
  
#single-title-container p {
	width:30%;
	position:relative;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-align:right;
	color:#f662f8;
	margin-top:15px;
}

.single-article {
	width:100%;
	float:left;
	margin:0;
	padding:0;
}

.single-article img {
    /*  */
    width:45%;
    float:left;
    margin:20px 20px 20px 0px;
  }
  
.single-article p {
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height: 21px;
    color: #aeaeae;
  }
  
/* REVIEW PAGES */

#sub-page-container {
	width:100%;
	max-width:940px;
	float:left;
	display:block;
	background-color:#444344;
	border:1px solid #2a282a;
}

#sub-page-menu-container {
    /*  */
    width:18%;
    max-width:100px;
	height:613px;
    float:left;
    
    background: #383637; /* Old browsers */
	background: -moz-linear-gradient(left,  #383637 0%, #383637 81%, #343233 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#383637), color-stop(81%,#383637), color-stop(100%,#343233)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #383637 0%,#383637 81%,#343233 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #383637 0%,#383637 81%,#343233 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #383637 0%,#383637 81%,#343233 100%); /* IE10+ */
	background: linear-gradient(to right,  #383637 0%,#383637 81%,#343233 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383637', endColorstr='#343233',GradientType=1 ); /* IE6-9 */
	
	border:1px solid #2a282a;

  }
  
.cell {
    /*  */
    width:100%;
    max-width:100px;
    height:30px;
    display:block;
    float:left;
    border-top:#454344 1px solid;
    border-bottom: #282727 1px solid;
  }
  
.cell a {
    /*  */
    width:100%;
    max-width:100px;
    height:30px;
    display:block;
    float:left;
    
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:14px;
    color:#aeaeae;
    text-decoration: none;
    text-align:center;
    line-height: 28px;
    cursor:pointer;
  }
  
.cell a:hover,
.cell a:active {
    /*  */
    background:transparent url('img/sub_page_hover.png') 0px 0px no-repeat;;
    color:#ffffff;
  }
  
#sub-page-title-container {
    /*  */
	width:836px;
    height:64px;
    position:relative;
    float:left;
    display:block;
    background-color:#323132;
    border:1px solid #2a282a;
  }
  
#sub-page-title-container h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#AEAEAE;
	margin-left:10px;
	}  
  
#sub-page-promo-bar {
    /*  */
	width:240px;
    float:left;
    display:block;
    background-color:#323132;
    border:1px solid #2a282a;
  }
  
#sub-page-promo-bar img {
    /*  */
	width:218px;
    float:left;
    margin:10px;
    display:block;
    border:1px solid #2a282a;
    
    
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
  
#sub-page-promo-bar ul {
    /*  */
   width:218px;
   float:left;
   margin-left:10px;
   padding:0;
  }
  
#sub-page-promo-bar ul li {
    /*  */
   	width:218px;
   	float:left;
   	position:relative;
    list-style:none;
    margin-bottom:20px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color: #AEAEAE;
    font-weight:bold;
    line-height:28px;
    text-align:left;
    
  }
  
#sub-page-promo-bar img.check {
    /*  */
    width:25px;
    height:25px;
    float:left;
    display:block;
    
    border:none;
    margin:0;
    padding:0;
    
    
    -webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
  }
  
.join_btn a {
    /*  */
    width:152px;
    height:37px;
    float:left;
    display:block;
    margin-left:40px;
    margin-bottom:100px;
    background-image: url("img/join_btn.png");
    border: none;
    outline: none;
  }

#sub-page-content {
	width:572px;
	position:relative;
	float:left;
	background-color:#323132;
	border:1px solid #2a282a;
	margin:10px;
}
  
#sub-page-content p {
    /*  */
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:15px;
    line-height:21px;
    color:#AEAEAE;
    padding:10px;
  }
  

  












/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
